<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='blood.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <title>التبرع بالدم</title>
</head>
<body>
    <div class="bg1">
        <form method="POST" action="/result">
            <div class="container bg-white p-3 mt-5 shadow-lg rounded">
                <div class="row">
                    <h1 class="color-h1">التبرع بالدم</h1>
                    <div class="col-md-6">
                        <div class="inputGroup">
                            <input type="number" required autocomplete="off" step="0.1" name="hemo">
                            <label for="name">درجة الهيموجلوبين</label>
                        </div>
                        <div class="inputGroup">
                            <input type="number" required autocomplete="off" step="0.1" name="nasb" >
                            <label for="name">معامل النسب الوراثي</label>
                        </div>
                        <div class="inputGroup">
                            <input type="number" required autocomplete="off" name="age">
                            <label for="name">العمر</label>
                        </div>
                        <div class="inputGroup">
                            <input type="number" required autocomplete="off" name="bmi">
                            <label for="name">BMI</label>
                        </div>
                        <div class="inputGroup">
                            <select name="sex" id="sexSelect">
                                <option selected></option>
                                <option value="0">ذكر</option>
                                <option value="1">انثى</option>
                            </select>
                            <label for="name">النوع</label>
                        </div>
                        <div class="inputGroup" id="hamlGroup" style="display:none;">
                            <select name="haml">
                               
                                <option value="1">نعم</option>
                                <option value="0">لا</option>
                            </select>
                            <label for="name">هل يوجد حمل</label>
                        </div>
                        <div class="inputGroup">
                            <select name="smoke">
                                <option selected></option>
                                <option value="1">نعم</option>
                                <option value="0">لا</option>
                            </select>
                            <label for="name">هل أنت مدخن</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inputGroup">
                            <input type="number" required autocomplete="off" name="amla7">
                            <label for="name">الأملاح في النظام</label>
                        </div>
                        <div class="inputGroup">
                            <input type="number" required autocomplete="off" step="0.1" name="k7owl">
                            <label for="name">استهلاك الكحول اليومي</label>
                        </div>
                        <div class="inputGroup">
                            <select name="aghad">
                                <option selected></option>
                                <option value="1"> اولى </option>
                                <option value="2">تانيه </option>
                                <option value="3"> تالته </option>
                            </select>
                            <label for="name"> ما هي درجه التوتر</label>
                        </div>
                        <div class="inputGroup">
                            <select name="fshl">
                                <option selected></option>
                                <option value="1">نعم</option>
                                <option value="0">لا</option>
                            </select>
                            <label for="name">هل بوجد فشل كلوي مزمن</label>
                        </div>
                        <div class="inputGroup">
                            <select name="8oda">
                                <option selected></option>
                                <option value="1">نعم</option>
                                <option value="0">لا</option>
                            </select>
                            <label for="name">هل لديك اضطرابات الغدة</label>
                        </div>
                        <div class="inputGroup">
                            <input type="number" required autocomplete="off" name="activite">
                            <label for="name">معدل النشاط اليومي</label>
                        </div>
                        <center>
                            <input type="submit" class="b1">
                        </center>
                    </div>
                    <center>
                        {% if label == 0 %}
                            <p>وفقا للبيانات المدخله هذا الشخص لا يسمح له بالتبرع بالدم لانه يعاني من بعض المشاكل الصحيه او الامراض </p>
                        {% elif label == 1 %}
                            <p>وفقا للبيانات المدخله يسمح لك بالتبرع بالدم بشكل مطمئن</p>
                        {% endif %}
                    </center>
                </div>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('sexSelect').addEventListener('change', function() {
            var selectedValue = this.value;
            var hamlGroup = document.getElementById('hamlGroup');
            if (selectedValue === '1') {
                hamlGroup.style.display = 'block';
            } else {
                hamlGroup.style.display = 'none';
            }
        });
    </script>
</body>
</html>
